/* http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

@orange: #ff6600; /* possibly a trademarked color ;) */

.rounded(@radius: 5px) {
    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}
.highlight(@color) {
    border: 2px solid @color;
    padding: 3px 3px 3px 11px;
}

body {
    font-family: 'Verdana';
}

pre {
    font-family: monospace;
}

.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background: @orange;
    padding: 2px 10px;
    border-width: 1px 0px;
    border-style: solid;
    border-color: darken(@orange, 25%);
    h1 {
        font: 140% bold Verdana;
    }
}

.stories, .comments {
    position: absolute;
    top: 0;
    margin-top: 38px;
    width: 550px;
    /*overflow-y: hidden;
    overflow-x: visible;*/
}

.stories {
    left: 0;
}

.comments {
    left: 550px;
}

.loading {
    background: url(/images/loading.gif) no-repeat center center;
    height: 200px;
}

.item {
    .rounded;
    border: 1px solid gray;
    padding: 4px 4px 4px 12px;
    margin: 3px;
    a {
        color: black;
    }
    p, pre {
        margin: 0.5em 0em;
    }
}
.item:focus {
    outline: none;
    .highlight(@orange);
}

.active-parent {
    .highlight(darken(@orange, 25%));
}

.story {
    a {
        text-decoration: none;
    }
    .cc {
        display: block;
        float: right;
    }
}

.comment {
    .comment-children {
        position: absolute;
        top: 0;
        left: 550px;
        width: 550px;
        display: none;
    }
}